<div class="uk-background" style="margin-top: 7.5px;">
    <div class="uk-container uk-flex uk-flex-wrap">
        <div class="uk-width-1-2@s" style="padding: 22.5px">Copyright@2017 - Liu Diao. - All right reserved</div>
        <div class="uk-width-1-2@s" style="padding: 22.5px">
            Powered by <a href="https://getuikit.com" class="uk-link-reset"><span uk-icon="icon: uikit"></span> UIkit</a>,
             <a href="https://getgrav.org" class="uk-link-reset"><img src="{{ url('theme://img/grav.svg') }}"> GRAV</a>
        </div>
    </div>
</div>